// 기본 스타일
// html font-size는 _reset.scss에서 설정 (1rem = 10px)

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: #212529;
    background-color: #ffffff;
}