// 프리텐다드 GOV 폰트 정의

@font-face {
  font-family: 'Pretendard GOV';
  src: url('../fonts/PretendardGOV-Regular.woff2') format('woff2'),
       url('../fonts/PretendardGOV-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard GOV';
  src: url('../fonts/PretendardGOV-Medium.woff2') format('woff2'),
       url('../fonts/PretendardGOV-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard GOV';
  src: url('../fonts/PretendardGOV-SemiBold.woff2') format('woff2'),
       url('../fonts/PretendardGOV-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard GOV';
  src: url('../fonts/PretendardGOV-Bold.woff2') format('woff2'),
       url('../fonts/PretendardGOV-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
